apiVersion: v1
kind: Config
clusters:
- name: kubernetes
  cluster:
    certificate-authority-data: {{ ca_cert_encoded }}
    server: https://{{ inventory_hostname }}:6443
users:
- name: {{ kube_user }}
  user:
    client-certificate-data: {{ user_cert_encoded }}
    client-key-data: {{ user_key_encoded }}
contexts:
- name: {{ kube_user }}@kubernetes
  context:
    cluster: kubernetes
    user: {{ kube_user }}
current-context: {{ kube_user }}@kubernetes
